<%- include('partials/header'); -%>

<div class="content_height">

<main>
    <div class="containers account_container">


        <div class="upload_image">
            <button class="btn btns btn_upload_img">Save</button>
            <input type="text" class="file-input" placeholder="Upload using link">
        </div>

        <div class="accout_settings">
            <form action="/account-settings" method="post">
            <div class="accont">
                <i class='bx bxs-user-account user-account'></i>
                <h1>Account Settings</h1>
            </div>
            <h3 class="accont_profile">Profile Picture</h3>
 
            <div class="accout_img">
                <div class="accont-img-upload">
                   <% if(currentUser.user.profilePicture){ %>
                        <img src="<%= currentUser.user.profilePicture %>" alt="" id="preview-image">
                   <% }else{ %>
                        <img src="/img/My_project1.png" alt="" id="preview-image">
                   <% } %>
                </div>
            
                <input type="hidden" class="hide_file" name="upload_image">


                <!-- <input type="file" id="file" accept="img/*" class="file-input" disabled> -->
                <label for="file" class="choose_file"><i class='bx bxs-image-add'></i>Choose Photo</label>
                <p class="upload_image_link"><i class='bx bx-unlink'></i>Upload using link</p>


            </div>
            <div class="account_display">

                <h3>Display Name</h3>
                <input type="text" name="displayName" id="" value="<%= currentUser.user.displayName %>">
                <h3>Bio</h3>

                <% if (currentUser.user.bio) { %>
                    <textarea name="displayBio" id=""><%= currentUser.user.bio %></textarea>
                <% } else { %>
                    <textarea name="displayBio" id="">Welcome to Graphiscore give your best experience!  <%= currentUser.user.displayName %></textarea>
                <% } %>
                
                <button type="submit">Update profile</button>
            </div>
            </form>
        </div>
    </div>
</main>
</div>

<%- include('partials/footer'); -%>