<%- include('partials/header'); -%>
<section class="section-content">
  <main>
    <div class="swiper">
      <div class="containers">
        <div class="home-content">
          <h1>What is the Best for you?</h1>
          <h4>Define the best GPU you experience</h4>
          <p>
            GraphiScore rating measures the performance, specifications, and
            features of a graphics card.
          </p>
        </div>
      </div>
    </div>
  </main>
</section>

<main>
  <div class="products containers">
    <div class="rate">
      <h3>Most rate/review GPU products 🔥</h3>
      <div class="products-content">
        <% for (var i = 0; i < mostRated.length; i++) { %>
        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="data:image/png;base64,<%=mostRated[i].productImage%>"
                alt="productsss"
                class="pic-products"/>
            </div>
            <div class="prods-cards">
              <div class="description_container">
              <h4><%= mostRated[i].productName.substring(0, 15)%></h4>
              <div class="product-rating">
                <p><%= mostRated[i].average.toFixed(1) %></p>
                <p>Ratings(<%= mostRated[i].ratings %>)</p>
              </div>
              <div class="review">
                <p>
                  <%= mostRated[i].productDscrp.substring(0, 200) %>...
                </p>
                <p class="all_reviews" >Reviews(<%= mostRated[i].totalReviews %>)</p>
              </div>
            </div>
            </div>

          </div>
        </div>
        <% } %>   
      </div>
</div>

    <div class="news">
      <h3>TODAYS NEWS 🐱‍💻</h3>
      <div class="news-grid">
        <div class="news-content">
          <a href=""> <img src="/img/news1.jpg" alt="" class="news-pic" /></a>
          <p>Discrete GPU Sales Plummet to Historic Lows</p>
          <p class="subP">
            If you’ve been looking at the GPU market recently and thinking,
            “nope,” you’re not alone.<a href="#">Read More</a>....
          </p>
        </div>
        <div class="news-content">
          <a href=""> <img src="/img/news1.jpg" alt="" class="news-pic" /></a>
          <p>Discrete GPU Sales Plummet to Historic Lows</p>
          <p class="subP">
            If you’ve been looking at the GPU market recently and thinking,
            “nope,” you’re not alone.<a href="#">Read More</a>....
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer'); -%>
