<%- include('partials/header'); -%>
<div class="content_height">

<section class="section-content">
<div class="section-top-color"></div>
  <% if (success) { %>
    <% success.forEach(error => { %>
      <script>
        toastr.options.positionClass = "toast-bottom-right";
        toastr.success("<%= error %>")
      </script>
    <% }); %>
  <% } %>

  <main>  
      <div class="containers">

        <div class="content_containers">

        <div class="home-content">
          <h1>What is the Best for you?</h1>
          <h3>💻Define the best GPU you experience</h3>
          <p>
            GraphiScore rating measures the performance, specifications, and
            features of a graphics card.
          </p>
          <a href="#GPU" class="content_browse"><i class='bx bx-mouse'></i> Browse now <i class='bx bx-down-arrow-alt'></i></i></a>
        </div>

        <div class="content_animation">
          <div class="animation_container">

            <div class="content_animation_back"></div>
            <div class="content_animation_front">
              <img src="/img/logs.png" alt="LOGOS" class="logo_content">
            </div>

          </div>
        </div>

        </div>

      </div>
  </main>
</section>

<div class="content_" id="GPU">
<main>
  <div class="products containers">
    <div class="rate">
      <h3>Most rate/review GraphiScore 🔥</h3>

      <div class="products-content">
        <% for (var i = 0; i < mostRated.length; i++) { %>
        <a href="/graphiscore/<%= mostRated[i]._id %>" class="products_link">
          <div class="products-card">
            <div class="prod-grid">
              <div class="prods-img-hover">
                <img
                  src="<%=mostRated[i].productImage%>"
                  alt="productsss"
                  class="pic-products"
                />
              </div>

              <div class="prods-cards">
                <div class="description_container">
                  <h4><%= mostRated[i].productName%></h4>

                  <div class="product-rating">
                    <div class="product__rating">
                      <div class="rating">
                        <div class="rating-upper">
                          <span>★</span>
                          <span>★</span>
                          <span>★</span>
                          <span>★</span>
                          <span>★</span>
                        </div>
                        <div class="rating-lower">
                          <span>★</span>
                          <span>★</span>
                          <span>★</span>
                          <span>★</span>
                          <span>★</span>
                        </div>
                      </div>
                      <p id="p"><%= mostRated[i].average %></p>
                    </div>
                    <p>(<%= mostRated[i].ratings %>)Ratings</p>
                  </div>

                  <div class="review">
                    <p><%= mostRated[i].description.substring(0,200) %>..</p>
                    <p class="all_reviews">
                      (<%= mostRated[i].totalReviews %>)Reviews
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </a>
        <% } %>



      </div>
    </div>
    <div class="news">
      <h3>GPU NEWS 🐱‍💻</h3>
      <div class="news-grid">
        <div class="news-content">
          <a href="https://www.extremetech.com/gaming/343644-nvidia-allegedly-planning-a-fourth-rtx-3060-with-new-gpu-gddr6x" target="_blank">
            <img src="https://i.extremetech.com/imagery/content-types/01kLovNZV7Arr2aa8cIxMcy/hero-image.fill.size_1248x702.v1678673214.jpg" alt="" class="news-pic"/></a>
        </div>
        <div class="news_descrp">
          <h4>Discrete GPU Sales Plummet to Historic Lows</h4>
          <p class="subP">
            Nvidia went a bit crazy in the Ampere era, trying to capitalize on the GPU shortage. There were endless variants of its GPUs, with every card getting a Ti version. This allowed for small differences between the Ti card and the next card in the stack, such as the RTX 3080 Ti and the RTX 3090, for example. However, the cards it sells the most are always the x60 variants...<a href="https://www.extremetech.com/gaming/343644-nvidia-allegedly-planning-a-fourth-rtx-3060-with-new-gpu-gddr6x" target="_blank">See more</a>
          </p>
        </div>
      </div>

      <div class="news-grid">
        <div class="news-content">
          <a href="https://www.extremetech.com/gaming/343492-nvidia-rtx-4080-rtx-4070-ti-steam-hardware-survey" target="_blank">
            <img src="https://i.extremetech.com/imagery/content-types/00ZAmGsKwwZzz40BzeU75bP/hero-image.fill.size_1248x702.v1678673359.jpg" alt="" class="news-pic"/></a>
        </div>
        <div class="news_descrp">
          <h4>Nvidia RTX 4080, RTX 4070 Ti Debut in the Steam Hardware Survey</h4>
          <p class="subP">
            Valve’s hardware survey has always been a fascinating look at what gear gamers prefer. It’s only a sliver of the market, but it’s insightful as a snapshot in time. Valve has updated its survey with results from February 2023 with some new entrants. Most notable is the arrival of the RTX 4080 and 4070 Ti....<a href="https://www.extremetech.com/gaming/343492-nvidia-rtx-4080-rtx-4070-ti-steam-hardware-survey" target="_blank">See more</a>
          </p>
        </div>
      </div>

      <h3> NEWS LETTER 📰 </h3>
      <div class="content_subs">
        <img src="https://media2.giphy.com/media/KjafhxqcSbpci5Mbce/giphy.gif?cid=ecf05e47l21l1fa4db1wq49ktanvcwyy2j8sz495o1buxe6y&rid=giphy.gif&ct=g" alt="GIF">
        <form action="/subs" method="post">
          <div class="subs">

            <p>Get the best new GPU'S in your inbox, every day 👇</p>
            <input type="email" placeholder="Your email" name="subscribe" autocomplete="off" required>
            <button type="submit">Subscribe</button>

          </div>
          </form>
      </div>
    </div>
  </div>


</main>
</div>
</div>
<%- include('partials/footer'); -%>
