<%- include('partials/header'); -%>
<div class="content_height">
<main>
  <% if (success) { %>
    <% success.forEach(error => { %>
      <script>
        toastr.options.positionClass = "toast-bottom-right";
        toastr.success("<%= error %>")
      </script>
    <% }); %>
  <% } %>

  <div class="containers">
    <div class="prod-ratings-description">
      <div class="product_image_container">
        <div class="prod-img">
          <img
            src="<%= productPrev[0].productImage %>"
            alt="prod-rate-img"
            class="prod-img-size"
          />
        </div>
      </div>
      
      <div class="decription-title">

        <h1><%= productPrev[0].productName %></h1>
        <p><%= productPrev[0].description %></p>

        <a href="/review/<%= productPrev[0]._id %>">
          <button type="submit">Give your best</button>
        </a>
      </div>
    </div>
    <div class="rate_review">
      <div class="rate__rev">
        <div>
          <span class="rating_rev"><%= productPrev[0].ratings %></span>
          <span>people have rated this GraphiScore</span>
        </div>
        <div>
          <span class="rating_rev"><%= productPrev[0].totalReviews %></span>
          <span>people have review this GraphiScore</span>
        </div>
      </div>
      <div class="rating-average">
        <div class="rating rate_productAvg">
          <div class="rating-upper">
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
          </div>
          <div class="rating-lower">
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
          </div>
        </div>

        <div class="product-view-average">
          <span class="average-value"
            ><%= productPrev[0].average %></span
          >
          <p>Average rating</p>
        </div>
      </div>
    </div>

    <h1 class="rates-comment">Ratings & Reviews</h1>
    <% productPrev[0].reviewrates.forEach(review => { %>

    <div class="rates_reviews">
      <a href="/profile/<%= review._id%>">
        <div class="profile-size">
          <div class="profile-circle">
            <% if(review.profilePicture){ %>
              <img src="<%= review.profilePicture %>" alt="profile_pic" class="profile" />
            <% }else{ %>
              <img src="/img/My_project1.png" alt="profile_pic" class="profile" />
            <% } %> 
           
          </div>
          <div class="profile-name">
            <h3><%= review.displayName %></h3>

            <div id="comment_rate">
              <div class="rating">
                <div class="rating-upper">
                  <span>★</span>
                  <span>★</span>
                  <span>★</span>
                  <span>★</span>
                  <span>★</span>
                </div>
                <div class="rating-lower">
                  <span>★</span>
                  <span>★</span>
                  <span>★</span>
                  <span>★</span>
                  <span>★</span>
                </div>
              </div>
              <p id="accout-rated"><%= review.rate %></p>
            </div>
          </div>
        </div>
      </a>
      <div class="review-comment">
        <span><%= review.review %></span>
      </div>
      <div class="time-date">
        <span><%= review.date %></span>
      </div>
    </div>

    <% }) %>
  </div>
</main>
</div>
<%- include('partials/footer'); -%>
