<%- include('partials/header'); -%>
<div class="content_height">
<main>
  <div class="containers">
    <div class="profile_settings">
        <div class="profile_settings_picture">

            <% if(currentUser.user.profilePicture){ %>
                <img src="<%= currentUser.user.profilePicture %>" alt="" class="profile_settings_img">
            <% }else{ %>
                <img src="/img/My_project1.png" alt="" class="profile_settings_img">
           <% } %>
    
        </div>
        <div class="profile_settings_name"><p><%= currentUser.user.displayName %></p></div>
        
        <div class="profile_settings_link">

           <% if(hideButtons === false){ %>
                <a href="/account-settings"><i class='bx bx-edit profile_icons'></i>Edit profile</a>
                <a href=""><i class='bx bx-share profile_icons'></i>Share profile</a>
            <% } %>
        
        </div>
        <p class="profile_settings_bio">
            <% if (currentUser.user.bio) { %>
                <%= currentUser.user.bio %>
            <% } else { %>
                Welcome to Graphiscore give your best experience  <%= currentUser.user.displayName %>!
            <% } %>
        </p>
        <div class="profile_settings_revrate">
            <div>
                <h1><%= currentUser.reviewCount %></h1>
                <p>Reviews</p>
            </div>
            <div>
                <h1><%= currentUser.rateCount %></h1>
                <p>Ratings</p>
            </div>
        </div>

        <h1 class="Activty">Activty</h1>
        <% currentUser.reviews.forEach(review =>{ %>

        <a href="/graphiscore/<%= review.product._id%>" class="profile_product_acnchor">
          <div class="profile_activty">
            <div class="profile_activty_img">
                <img src="<%= review.product.productImage %>" alt="" class="activty_img">
            </div>
            <div class="profile_activty_description">
                <div>
                    <div class="profile_activty_name">
                        <h2><%= review.product.productName %></h2>
                    <div class="profile_activity_average"> 
                        <div class="rating">
                            <div class="rating-upper">
                              <span>★</span>
                              <span>★</span>
                              <span>★</span>
                              <span>★</span>
                              <span>★</span>
                            </div>
                            <div class="rating-lower">
                              <span>★</span>
                              <span>★</span>
                              <span>★</span>
                              <span>★</span>
                              <span>★</span>
                            </div>
                        </div>
                        <span id="profile_average"><%= review.rating %></span>
                    </div>
                        
                    </div>
                </div>
                <div><p class="activty_description"><%= review.review %></p></div>
                <p class="activty_datetime"><%= review.date %></p>
            </div>
        </div>
        </a>
         <% }) %>
    </div>
  </div>
</main>
</div>
<%- include('partials/footer'); -%>
