<%- include('partials/header'); -%>
<div class="content_height">
<section class="section-content-review">

    <% if (errors) { %>
        <% errors.forEach(error => { %>
          <script>
             toastr.options.positionClass = "toast-bottom-right";
            toastr.error('<%= error %>');
        </script>
        <% }); %>
      <% } %>

<main>
<div class="review-container containers">
<div class="review-content">
    <div class="review-title">
        <i class='bx bxs-comment-detail'></i>
        <h1>Review ✍</h1>
    </div>
    <div class="review-prod">
        <h3>Product</h3>
      <form action="/review" method="post">
        <div class="search-product-review">

            <% if( found[0].productName === ""){ %>
                <input type="text" value="" placeholder="Searh your favourite GUP'S " id="search-product-review" name="review_prod_name" autocomplete="off" required>
            <% }else{ %>
                <input type="text" value="<%= found[0].productName %>" placeholder="<%= found[0].productName %>" id="search-product-review" name="review_prod_name" autocomplete="off" required>
            <% } %>
            
            <div class="input-result-search"> 
            <div id="search-results-review">  
            </div>
            </div>
        </div>
    </div>
    <div class="rating-prod">
        <h3>Rating</h3>
        <div class="star-rate">
            <p class="rate-description"></p>
            <div class="stars">
               
            <input type="radio" id="rate-5" name="rate" value="5">
            <label for="rate-5" class='bx bxs-star'></label>  
              
            <input type="radio" id="rate-4" name="rate" value="4">
            <label for="rate-4" class='bx bxs-star'></label> 

            <input type="radio" id="rate-3" name="rate" value="3">
            <label for="rate-3" class='bx bxs-star'></label> 

            <input type="radio" id="rate-2" name="rate" value="2">
            <label for="rate-2" class='bx bxs-star'></label>

            <input type="radio" id="rate-1" name="rate" value="1">
            <label for="rate-1" class='bx bxs-star'></label>

            </div>
        </div>  
    </div>
    <div class="review">
        <h3>Review</h3>
        <textarea name="review_area" id="" cols="30" rows="7" placeholder="Describe your Experience"></textarea>
    </div>
<div class="btn-review">
    <button type="submit">Post my review</button>
</div>
</form>
</div>
<div class="review-item">
        <div class="review-card">
            
            <% if(found[0].productImage === ""){ %>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" alt="review-img" class="review-pic">
                <% }else{ %>
                    <img src="<%= found[0].productImage %>" alt="review-img" class="review-pic">
            <% } %>
            
            <div class="prod-review">
                <div class="product-review-container">

                    <% if( found[0].productName === "" ){ %>
                        <h1 class="text_Name"><%= found[0].productName %></h1>
                    <% }else{ %> 
                        <h1 class="text_Name"></h1>
                    <% } %>

                <div class="stars-review">
                    <div class="stars">

                        <% if ( resultObj.avgRating === "" ) { %>
                            <div class="review_average_star">
                                <div class="rating">
                                    <div class="rating-upper">
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                    </div>
                                    <div class="rating-lower">
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                    </div>
                                  </div>
                            </div>
                            <p class="arverage"></p>
                        <% } else { %>
                            <div class="review_average_stars">
                                <div class="rating">
                                    <div class="rating-upper">
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                    </div>
                                    <div class="rating-lower">
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                      <span>★</span>
                                    </div>
                                  </div>
                            </div>                            
                            <p class="arverage" id ="average"><%= resultObj.avgRating %></p>
                        <% } %>

                    </div>      
                </div>
                <div class="review-ratings">

                    <% if( resultObj.avgRating === "" ){ %>
                        <p class="ratings"></p>
                    <% }else{ %>
                        <p class="ratings"><%= resultObj.rateCount %> Ratings</p>
                    <% } %>
                    
                    <% if( resultObj.reviewCount === "" ){ %>
                        <p class="reviews"></p>
                    <% }else{ %>
                        <p class="reviews"><%= resultObj.reviewCount %> Reviews</p>
                    <% } %>

                </div>
                </div>
            </div>
        </div>
</div>
</div>
</main>
</section>
</div>
<%- include('partials/footer'); -%>